* {
    background-image: url(bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }
    
}

.box-1 {
    width: 50%;
    align-items: center;
    margin: auto;
}

.box-2 {
    width: 40%;
    align-items: center;
 
}

H4 {
  margin-bottom: 5%;
} 
form {
  background-color: white;
 margin 5px;
} 

input {
  width: 70%;
  Height: 6%;
  margin-bottom: 3px;
 
} 

.button {
  background-color: green;
  color: white;
} 



